<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Lotti3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Lotti3 urdf file -->
    <xacro:include filename="$(find lotti_control3)/description/urdf/Lotti.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="Lotti3.ros2_control.xacro" />


    <xacro:Lotti3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
