<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Lotti_arm_URDF3">
  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="-0.00263222915365037 -0.000332098550481226 0.0476250352231148"
        rpy="0 0 0" />
      <mass
        value="0.200226640012258" />
      <inertia
        ixx="0.00030515518623871"
        ixy="5.91937552347525E-09"
        ixz="-5.48255039093506E-06"
        iyy="0.000183595401496948"
        iyz="3.03172951951874E-10"
        izz="0.000356726067861412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="arm_link1_link">
    <inertial>
      <origin
        xyz="4.4154208761471E-09 0.000122631739122251 0.0356096098271416"
        rpy="0 0 0" />
      <mass
        value="0.227235996796303" />
      <inertia
        ixx="0.000180809625442164"
        ixy="1.99972159386555E-12"
        ixz="3.65735412272402E-13"
        iyy="0.000141436764733896"
        iyz="-1.12077733619126E-07"
        izz="0.000174149091246638" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link1_joint"
    type="revolute">
    <origin
      xyz="0 0 0.0813"
      rpy="0 0 1.5708" />
    <parent
      link="arm_base_link" />
    <child
      link="arm_link1_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3"
      upper="3"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link2_link">
    <inertial>
      <origin
        xyz="-0.00485070166931217 0.000134479355761746 0.151153269049843"
        rpy="0 0 0" />
      <mass
        value="0.308407355142343" />
      <inertia
        ixx="0.000536262443976751"
        ixy="-5.5940179993781E-07"
        ixz="4.55969735855309E-05"
        iyy="0.000463619869555736"
        iyz="-5.41211706294873E-05"
        izz="0.00028846239166877" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link2_joint"
    type="revolute">
    <origin
      xyz="0 0.002 0.093"
      rpy="0 1.4835 -1.5708" />
    <parent
      link="arm_link1_link" />
    <child
      link="arm_link2_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link3_link">
    <inertial>
      <origin
        xyz="-2.34730375641701E-05 0.000222724116049157 0.121657320094858"
        rpy="0 0 0" />
      <mass
        value="0.215223683624819" />
      <inertia
        ixx="0.000187887481718193"
        ixy="1.29568722040541E-09"
        ixz="-2.48383575759204E-09"
        iyy="0.000177005795528886"
        iyz="-1.95381298527238E-05"
        izz="5.96362197609908E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link3_joint"
    type="revolute">
    <origin
      xyz="-0.05 0 0.29"
      rpy="0 -0.087266 0" />
    <parent
      link="arm_link2_link" />
    <child
      link="arm_link3_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3"
      upper="0"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link4_link">
    <inertial>
      <origin
        xyz="-6.45090288222683E-05 -2.78077069245375E-05 0.0421410408275518"
        rpy="0 0 0" />
      <mass
        value="0.0799976203193007" />
      <inertia
        ixx="2.98275167277768E-05"
        ixy="-3.78870865349402E-10"
        ixz="2.42643938146629E-10"
        iyy="1.60577540866642E-05"
        iyz="1.06831058124357E-09"
        izz="2.00421216012606E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link4_joint"
    type="revolute">
    <origin
      xyz="0 0.0006 0.26473"
      rpy="0 0 0" />
    <parent
      link="arm_link3_link" />
    <child
      link="arm_link4_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link5_link">
    <inertial>
      <origin
        xyz="0.00382150605784096 -7.85621768924008E-05 0.0340017507140255"
        rpy="0 0 0" />
      <mass
        value="0.0824183861074866" />
      <inertia
        ixx="1.34651970301421E-05"
        ixy="1.06510176553104E-09"
        ixz="7.33151583062687E-09"
        iyy="3.06523685609496E-05"
        iyz="3.77177397811794E-10"
        izz="3.09091303833254E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link5_joint"
    type="revolute">
    <origin
      xyz="-0.00055 0.0001 0.074331"
      rpy="0 0 0" />
    <parent
      link="arm_link4_link" />
    <child
      link="arm_link5_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link6_link">
    <inertial>
      <origin
        xyz="0.0143574958730077 0.0022820490393657 0.0446512981778615"
        rpy="0 0 0" />
      <mass
        value="0.110464975833809" />
      <inertia
        ixx="3.80573356318663E-05"
        ixy="-6.92148846739205E-08"
        ixz="-1.61451005762783E-06"
        iyy="2.62917054320985E-05"
        iyz="7.3462765439727E-09"
        izz="1.59336336306215E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Lotti_arm_URDF3/meshes/arm_link6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link6_joint"
    type="revolute">
    <origin
      xyz="0.022033 0 0.0668"
      rpy="0 0 0" />
    <parent
      link="arm_link5_link" />
    <child
      link="arm_link6_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="3"
      velocity="2" />
  </joint>
</robot>