<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <ros2_control name="LottiArm" type="system">
        <hardware>
            <plugin>arm3_interface/ArmInterface</plugin>    
            <param name="device">/dev/serial/by-id/usb-ROBOTIS_OpenCR_Virtual_ComPort_in_FS_Mode_FFFFFFFEFFFF-if00</param>
        </hardware>

        <joint name="arm_link1_joint">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

        <joint name="arm_link2_joint">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

        <joint name="arm_link3_joint">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        
        <joint name="arm_link4_joint">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

        <joint name="arm_link5_joint">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
    </ros2_control>



    <ros2_control name="LottiFlipper" type="system" rw_rate="100">
        <hardware>
            <plugin>flipper3_interface/FlipperInterface</plugin>
            <param name="device">/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_035363832363516043D2-if00</param>
            <param name="feedback_mode">write_only</param>
        </hardware>
        
        <joint name="flipper_fr_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_fl_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_rr_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_rl_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>


    
     <ros2_control name="LottiChains" type="system">
        <hardware>
            <plugin>drive3_interface/DriveInterface</plugin>
            <param name="device">/dev/serial/by-id/usb-FTDI_USB__-__Serial_Converter_FTA362Q0-if00-port0</param>
            <param name="max_speed">6</param>
            <param name="left_motor_id">2</param>
            <param name="right_motor_id">1</param>
            <param name="gear_ratio">6.33</param>
        </hardware>
        <joint name="left_chain_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_chain_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>
