<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_arm_URDF2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0026322 -0.0003321 0.047625"
        rpy="0 0 0" />
      <mass
        value="0.20023" />
      <inertia
        ixx="0.00030516"
        ixy="5.9194E-09"
        ixz="-5.4826E-06"
        iyy="0.0001836"
        iyz="3.0317E-10"
        izz="0.00035673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="arm_link1_link">
    <inertial>
      <origin
        xyz="4.4154E-09 0.00012263 0.03561"
        rpy="0 0 0" />
      <mass
        value="0.22724" />
      <inertia
        ixx="0.00018081"
        ixy="1.9997E-12"
        ixz="3.6574E-13"
        iyy="0.00014144"
        iyz="-1.1208E-07"
        izz="0.00017415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link1_joint"
    type="revolute">
    <origin
      xyz="0 0 0.0813"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="arm_link1_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3"
      upper="3"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link2_link">
    <inertial>
      <origin
        xyz="-0.00485070416050022 0.000134485688723283 0.151153265475347"
        rpy="0 0 0" />
      <mass
        value="0.308407273968913" />
      <inertia
        ixx="0.00053626238823764"
        ixy="-5.59420743166653E-07"
        ixz="4.55969419474211E-05"
        iyy="0.000463619794404845"
        iyz="-5.41211328309889E-05"
        izz="0.000288462361152878" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link2_joint"
    type="revolute">
    <origin
      xyz="0 0.002 0.093"
      rpy="0 1.2215 -1.5708" />
    <parent
      link="arm_link1_link" />
    <child
      link="arm_link2_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.3"
      upper="-2.6"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link3_link">
    <inertial>
      <origin
        xyz="-2.34728627439007E-05 0.000222724161649632 0.121657321107221"
        rpy="0 0 0" />
      <mass
        value="0.215223681868676" />
      <inertia
        ixx="0.00018788748127738"
        ixy="1.29532449730699E-09"
        ixz="-2.48397547566625E-09"
        iyy="0.000177005795239143"
        iyz="-1.9538129798689E-05"
        izz="5.96362187800749E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link3_joint"
    type="revolute">
    <origin
      xyz="-0.05 0 0.29"
      rpy="-3.1416 -0.31921 -3.1416" />
    <parent
      link="arm_link2_link" />
    <child
      link="arm_link3_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5"
      upper="3"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link4_link">
    <inertial>
      <origin
        xyz="-6.45090288216854E-05 -2.78077069245028E-05 0.0421410408275514"
        rpy="0 0 0" />
      <mass
        value="0.0799976203192999" />
      <inertia
        ixx="2.98275167277768E-05"
        ixy="-3.78870865359705E-10"
        ixz="2.42643938141168E-10"
        iyy="1.60577540866642E-05"
        iyz="1.06831058125207E-09"
        izz="2.00421216012606E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link4_joint"
    type="revolute">
    <origin
      xyz="0 0.0006 0.26473"
      rpy="0 0.030046 0" />
    <parent
      link="arm_link3_link" />
    <child
      link="arm_link4_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link5_link">
    <inertial>
      <origin
        xyz="0.00382150605784931 -7.8562176892609E-05 0.0340017507140248"
        rpy="0 0 0" />
      <mass
        value="0.0824183861074839" />
      <inertia
        ixx="1.34651970301421E-05"
        ixy="1.06510176554276E-09"
        ixz="7.33151583063895E-09"
        iyy="3.06523685609496E-05"
        iyz="3.77177397828779E-10"
        izz="3.09091303833253E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link5_joint"
    type="revolute">
    <origin
      xyz="-0.00055 0.0001 0.074331"
      rpy="0 0 0" />
    <parent
      link="arm_link4_link" />
    <child
      link="arm_link5_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="3"
      velocity="2" />
  </joint>
  <link
    name="arm_link6_link">
    <inertial>
      <origin
        xyz="0.0143574958730017 0.00228204903930826 0.0446512981778694"
        rpy="0 0 0" />
      <mass
        value="0.110464975834032" />
      <inertia
        ixx="3.80573356318669E-05"
        ixy="-6.92148846737554E-08"
        ixz="-1.61451005762754E-06"
        iyy="2.62917054320992E-05"
        iyz="7.34627654365672E-09"
        izz="1.59336336306222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_arm_URDF2/meshes/arm_link6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link6_joint"
    type="revolute">
    <origin
      xyz="0.022033 0 0.0668"
      rpy="0 0 0" />
    <parent
      link="arm_link5_link" />
    <child
      link="arm_link6_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="3"
      velocity="2" />
  </joint>
</robot>