<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Arduino device IDs
    /dev/serial/by-id/
    Uno1 usb-Arduino__www.arduino.cc__0043_8503331313735151A0F0-if00
    Uno2 usb-Arduino__www.arduino.cc__0043_85033313137351919182-if00
    Uno3 usb-Arduino__www.arduino.cc__0043_03536383236351E0A111-if00
    Uno4 usb-Arduino__www.arduino.cc__0043_035363832363516043D2-if00
    Mega1 usb-Arduino__www.arduino.cc__0042_950353139353515082C1-if00
    -->

    <ros2_control name="LottiArm" type="system">
        <hardware>
            <plugin>arm_interface/ArmInterface</plugin>    
            <param name="device">/dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_8513030353835180A0B1-if00</param>
        </hardware>

        <joint name="arm_link1_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>

        <joint name="arm_link2_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>

        <joint name="arm_link3_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>

        <joint name="arm_link4_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>

        <joint name="arm_link5_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>

        <joint name="arm_link6_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="torque"/>
            <state_interface name="volt"/>
        </joint>
    </ros2_control>



    <ros2_control name="LottiFlipper" type="system" rw_rate="20">
        <hardware>
            <plugin>flipper_interface/FlipperInterface</plugin>
            <!-- <param name="device">/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_8503331313735151A0F0-if00</param> -->
        </hardware>
        
        <joint name="flipper_fr_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_fl_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_rr_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="flipper_rl_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>


    
     <ros2_control name="LottiChains" type="system">
        <hardware>
            <plugin>diffdrive_lotti/DiffDriveLotti</plugin>
            <param name="left_wheel_name">left_chain_joint</param>
            <param name="right_wheel_name">right_chain_joint</param>
        </hardware>
        <joint name="left_chain_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_chain_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>