<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    
<!-- Rotating Base -->
    <!-- Body params for reference -->
    <xacro:property name="body_length" value="0.7"/>
    <xacro:property name="body_width" value="0.33"/>
    <xacro:property name="body_height" value="0.15"/>

    <!-- same for all links -->
    <xacro:property name="link_length" value="0.08"/>
    <xacro:property name="link_width" value="0.04"/>
    <xacro:property name="link_mass" value="0.2"/>
    <!-- changing param -->
    <xacro:property name="link1_height" value="0.10"/>

    <joint name="arm_link1_joint" type="revolute">
        <origin xyz="${body_length/2 - 0.1} ${link_width/2} ${body_height}" rpy="0 0 0"/>
        <parent link="body_link"/>
        <child link="arm_link1_link"/>
        <axis xyz="0 0 1"/>
        <limit lower="${-pi}" upper="${pi}" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link1_link">
        <visual>
            <origin  xyz="0 0 ${link1_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link1_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="0 0 ${link1_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link1_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_length}" y="${link_width}" z="${link1_height}">
            <origin  xyz="0 0 ${link1_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


<!-- Lifting Base -->
    <xacro:property name="link2_height" value="0.286"/>

    <joint name="arm_link2_joint" type="revolute">
        <origin xyz="0 ${-link_width} ${link1_height}" rpy="0 0 0"/>
        <parent link="arm_link1_link"/>
        <child link="arm_link2_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="-1.2" upper="1.2" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link2_link">
        <visual>
            <origin  xyz="0 0 ${link2_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link2_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="0 0 ${link2_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link2_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_length}" y="${link_width}" z="${link2_height}">
            <origin  xyz="0 0 ${link2_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


<!-- Elbow -->
    <xacro:property name="link3_height" value="0.25"/>

    <joint name="arm_link3_joint" type="revolute">
        <origin xyz="0 ${link_width} ${link2_height}" rpy="0 0 0"/>
        <parent link="arm_link2_link"/>
        <child link="arm_link3_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="${-pi}" upper="${pi}" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link3_link">
        <visual>
            <origin  xyz="0 0 ${link3_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link3_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="0 0 ${link3_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link3_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_length}" y="${link_width}" z="${link3_height}">
            <origin  xyz="0 0 ${link3_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


<!-- Wrist tilt -->
    <xacro:property name="link4_height" value="0.10"/>

    <joint name="arm_link4_joint" type="revolute">
        <origin xyz="0 ${link_width} ${link3_height}" rpy="0 0 0"/>
        <parent link="arm_link3_link"/>
        <child link="arm_link4_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="${-pi/2}" upper="${pi/2}" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link4_link">
        <visual>
            <origin  xyz="0 0 ${link4_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link4_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="0 0 ${link4_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_length} ${link_width} ${link4_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_length}" y="${link_width}" z="${link4_height}">
            <origin  xyz="0 0 ${link4_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

<!-- Wrist swivel-->
    <xacro:property name="link5_height" value="0.10"/>

    <joint name="arm_link5_joint" type="revolute">
        <origin xyz="${-(link_length/2)} ${-link_width/2} ${link4_height}" rpy="0 0 0"/>
        <parent link="arm_link4_link"/>
        <child link="arm_link5_link"/>
        <axis xyz="1 0 0"/>
        <limit lower="${-pi/3}" upper="${pi/3}" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link5_link">
        <visual>
            <origin  xyz="${-link_width/2} 0 ${link5_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_width} ${link_length} ${link5_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="${-link_width/2} 0 ${link5_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_width} ${link_length} ${link5_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_width}" y="${link_length}" z="${link5_height}">
            <origin  xyz="${-link_width/2} 0 ${link5_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


<!-- Wrist rotate -->
    <xacro:property name="link6_height" value="0.05"/>

    <joint name="arm_link6_joint" type="revolute">
        <origin xyz="${-link_width/2} 0 ${link5_height}" rpy="0 0 0"/>
        <parent link="arm_link5_link"/>
        <child link="arm_link6_link"/>
        <axis xyz="0 0 -1"/>
        <limit lower="${-pi}" upper="${pi}" velocity="10" effort="100"/> 
    </joint>

    <link name="arm_link6_link">
        <visual>
            <origin  xyz="0 0 ${link6_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_width} ${link_width} ${link6_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin  xyz="0 0 ${link6_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${link_width} ${link_width} ${link6_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${link_width}" y="${link_width}" z="${link6_height}">
            <origin  xyz="0 0 ${link6_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


<!-- Gripper -->
    <xacro:property name="gripper_height" value="0.04"/>
    <xacro:property name="gripper_width" value="0.1"/>
    <xacro:property name="gripper_length" value="0.08"/>

    <joint name="arm_gripper_joint" type="fixed">
        <origin xyz="0 0 ${link6_height}" rpy="0 ${-pi/2} 0"/>
        <parent link="arm_link6_link"/>
        <child link="arm_gripper_link"/>
    </joint>

    <link name="arm_gripper_link">
        <visual>
            <origin  xyz="0.01 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.08 0.04"/>
            </geometry>
            <material name="black"/>
        </visual>
        <visual>
            <origin xyz="0.05 0.03 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06 0.02 0.04"/>
            </geometry>
            <material name="black"/>
        </visual>
        <visual>
            <origin xyz="0.05 -0.03 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06 0.02 0.04"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin  xyz="${gripper_length/2} 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${gripper_length} ${gripper_width} ${gripper_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${link_mass}" x="${gripper_length}" y="${gripper_width}" z="${gripper_height}">
            <origin  xyz="${gripper_length/2} 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


</robot>